<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HSIN CHIEN MARINE CO., LTD.</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<style>
    table {
        border-collapse: collapse;
        border-spacing: 2px;
        width: 100%;
    }
    
    table,
    th,
    td {
        border: 1px solid #dee2e6;
        padding: .3rem;
    }
    
    tr:nth-child(odd) {
        background-color: rgba(0, 0, 0, .05);
    }
    
    td:first-child {
        white-space: nowrap;
    }
    
    .job_name {
        display: inline-block;
    }
</style>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-lower">Hsin Chien Marine Co., Ltd.</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item  px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="organization.html">Organization</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="services.html">Services</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="vessels.html">Vessels</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="careers.html">Careers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section about-heading">
        <div class="container">
            <div class="about-heading-content">
                <div class="row">
                    <div class="col-xl-9 col-lg-10 mx-auto">
                        <div class="bg-faded rounded p-5" style="margin-top:5rem">
                            <h2 class="section-heading mb-4">
                                <br>
                                <span class="section-heading-lower">Join Us</span>
                            </h2>
                            <div>
                                <table id="career_table">
                                    <!--
                                    <thead>
                                        <tr style="background-color:transparent">
                                            <th>項目</th>
                                            <th>資格</th>
                                            <th>連絡人</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="job_name">船長</div>
                                            </td>
                                            <td>國內外大專院校 航海、商船等相關科系畢業，持有一等船長執業證書者(限台灣船員)</td>
                                            <td>船務部 劉船長 <br>E-mail: marine@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">一等船副</div>
                                            </td>
                                            <td>國內外大專院校 航海、商船等相關科系畢業，持有一等船副執業證書者(限台灣船員)</td>
                                            <td>船務部 劉船長 <br>E-mail: marine@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">輪機長</div>
                                            </td>
                                            <td>國內外大專院校 輪機、船舶機械等相關科系畢業，持有一等輪機長執業證書者(限台灣船員)</td>
                                            <td>船務部 劉船長 <br>E-mail: marine@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">一等管輪</div>
                                            </td>
                                            <td>國內外大專院校 輪機、船舶機械等相關科系畢業，持有一等管輪執業證書者(限台灣船員)</td>
                                            <td>船務部 劉船長 <br>E-mail: marine@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">駐埠船長</div>
                                            </td>
                                            <td>50歲以下，曾於國際航線任職船長，並持有適任證書及所有STCW訓練證書</td>
                                            <td>船務部 劉船長 <br>E-mail: marine@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">駐埠輪機長</div>
                                            </td>
                                            <td>50歲以下，曾於國際航線任職船長，並持有適任證書及所有STCW訓練證書</td>
                                            <td>工務部 吳經理<br>E-mail: tech@hcm.com.tw</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="job_name">駐埠工程師</div>
                                            </td>
                                            <td>45歲以下，海事院校輪機科系畢業，具管輪或岸勤工程師經驗者尤佳，諳英語，熟悉電腦基本軟體操作</td>
                                            <td>工務部 吳經理<br>E-mail: tech@hcm.com.tw</td>
                                        </tr>
                                    </tbody>
                                    -->
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();
    socket.emit('query career');
    socket.on("career info", function(info) {
        var headers = info.shift();
        var career_table = '';

        career_table += '<thead>';
        var header_row = '<tr style="background-color:transparent">';
        for (let head of headers) {
            header_row += '<th>' + head + '</th>';
        }
        header_row += '</tr>';
        career_table += header_row;
        career_table += '</thead>';

        career_table += '<tbody>';
        for (let row of info) {
            career_table += '<tr>';
            for (let cell of row) {
                if (cell == null) {
                    cell = "";
                }
                career_table += '<td>' + cell + '</td>';
            }
            career_table += '</tr>'
        }
        career_table += '</tbody>';

        $('#career_table').append(career_table);
    });
</script>

</html>