<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HSIN CHIEN MARINE CO., LTD.</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-casual.min.css" rel="stylesheet">

</head>

<body>

    <h1 class="site-heading text-center text-white d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3"></span>
        <span class="site-heading-lower">Hsin Chien Marine Co., Ltd.</span>
    </h1>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
        <div class="container">
            <a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="index.html">Home
              <span class="sr-only">(current)</span>
            </a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="about.html">About</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="organization.html">Organization</a>
                    </li>
                    <li class="nav-item active px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="services.html">Services</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="vessels.html">Vessels</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="contact.html">Contact Us</a>
                    </li>
                    <li class="nav-item px-lg-4">
                        <a class="nav-link text-uppercase text-expanded" href="careers.html">Careers</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="page-section">
        <div class="container">
            <div class="product-item">
                <div class="product-item-title d-flex">
                    <div class="bg-faded p-5 d-flex mr-auto rounded" style="width:100%">
                        <h2 class="section-heading mb-0" style="width:100%">
                            <span class="section-heading-upper" id="org_head_upper">Our</span>
                            <span class="section-heading-lower" id="org_head_lower">Services</span>
                            <p class="mb-1" style="font-family: Lora; font-size: 1rem; text-transform: none">
                                <br> Please click on one of the buttons to see more detail about the corresponding service.
                            </p>

                            <svg width="1600" height="150">
                                <g transform="translate(60 10)">
                                    <a class="block-button" id="cargo_info_block" onClick="showServiceBlock(this)">
                                        <rect width="400" height="100" rx="5"/>
                                        
                                        <text class="" x="130" y="35" fill="white" font-size="20">Volume of</text>
                                        <text class="" x="50" y="80" fill="white" font-size="35">Cargo Handled</text>
                                        
                                    </a>
                                </g>
                                <g transform="translate(550 10)">
                                    <a class="block-button" id="fleet_info_block" onClick="showServiceBlock(this)">
                                        <rect width="400" height="100" rx="5"/>
                                        
                                        <text class="" x="130" y="35" fill="white" font-size="20">Volume of</text>
                                        <text class="" x="100" y="80" fill="white" font-size="35">Our Fleet</text>
                                        
                                    </a>
                                </g>
                            </svg>

                        </h2>
                        <br>
                    </div>
                </div>

                <section class="page-section clearfix">
                    <div class="container">
                        <div>
                            <div class="intro-text left-0 text-center bg-faded p-5 rounded" id="cargo-block" style="display: none">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower" style="font-size: 2rem; font-weight: bold">
                                        Volume of Cargo Handled
                                    </span>
                                </h2>
                                <p id="cargo_info">
                                </p>
                            </div>
                            <div class="intro-text left-0 text-center bg-faded p-5 rounded" id="fleet-block" style="display: none">
                                <h2 class="section-heading mb-4">
                                    <span class="section-heading-lower" style="font-size: 2rem; font-weight: bold">
                                        Volume of Our Fleet
                                    </span>
                                </h2>
                                <p id="fleet_info">
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>

    <footer class="footer text-faded text-center py-5">
        <div class="container">
            <p class="m-0 small">Copyright &copy; Hsin Chien Marine Co., Ltd. 2019</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

<script>
    $(document).ready(function() {
        $("#cargo_info").load("texts/cargo_info_eng.html");
        $("#fleet_info").load("texts/fleet_info_eng.html");

    });
    var curr = '';

    function showServiceBlock(block) {
        var service = block.id.substring(0, block.id.indexOf("_"));
        if (curr !== '') {
            document.getElementById(curr + "-block").style.display = "none";
            document.getElementById(curr + "_info_block").classList.add('block-button')
            document.getElementById(curr + "_info_block").classList.remove('block-button-active')
        }
        document.getElementById(service + "-block").style.display = "inherit";
        block.classList.add('block-button-active')
        block.classList.remove('block-button')
        curr = service;
    }
</script>

</html>